@import '~antd/dist/antd.css';
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.nav_appname {
	padding: 2em;
	font-weight: bold;
	background: black;
	color: white;
	margin: 1em;
	font-size: 1.2em;
}

.photo_canvas {
	display: block;
	margin: auto;
}

.photo_input {
	display: block;
	margin: auto;
	padding: 0.5em;
}

.video_detect_button {
	margin: auto;
	display: block;
	padding: 0.5em;
	border: 1px solid black;
}

nav {
	text-align: center;
}

ul {
	display: flex;
	list-style: none;
	align-items: center;
}
li {
	padding: 1em;
	margin: auto;
	text-decoration: none;
	background: black;
}

a {
	color: white;
}
